#root {
  margin: 0 auto;
  text-align: center;
}

body {
  font-family: "Mitr", sans-serif;
}

.my-swal-button {
  font-family: "Mitr", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.swal2-container {
  z-index: 9999 !important;
}

.card {
  padding: 2em;
}
